!!!
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body(style='text-align:center')
    %div(style='text-align:center')= image_tag "https://ecycle.today/email-logo.png"
    %h1(style="text-align:center;font-size:30px") Pickup Scheduled
    %p(style="text-align:center")
      = @pickup.name + ', ' + settings.pickup_instructions

    %h2(style="text-align:center;margin-bottom:0") Pickup Details
    Address:
    = @pickup.street_address + ', Bainbridge Island'
    %br
    Pickup size:
    = @pickup.size
    %br
    - if @pickup.message.present?
      = @pickup.message
      %br
    %p= link_to "Make changes to your pickup", "https://ecycle.today/pickups/#{@pickup.id}?key=#{@pickup.key}&utm_source=email&utm_medium=internal"

    %h2(style="text-align:center;margin-bottom:0") Donations
    %p
      In support of this service and Boy Scout Troop 1496, would you like to donate?
      = link_to "Make a donation", "https://ecycle.today/donations/new?pickup_id=#{@pickup.id}&key=#{@pickup.key}&utm_source=email&utm_medium=internal"

    %br
    %br
    - if settings.pickup_contact_name.present? and settings.pickup_contact_email.present?
      %p
        If you have any questions regarding your pickup, please contact:
        = settings.pickup_contact_name
        at
        = mail_to settings.pickup_contact_email