!!!
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body(style='text-align:center')
    %div(style='text-align:center')= image_tag "https://bainbridgeecycle.com/bsa-trademark.jpg"
    %h1(style="text-align:center;font-size:1.2") Pickup Scheduled
    %p(style="text-align:center") Your pickup is scheduled for June 2, between 8am and 2pm.


    %h2(style="text-align:center;margin-bottom:0") Pickup Details
    Address:
    = @pickup.street_address + ', Bainbridge Island'
    %br
    Pickup size:
    = @pickup.size
    %br
    = link_to "View your pickup details", "https://bainbridgeecycle.com/pickups/#{@pickup.id}?key=#{@pickup.key}"

    %br
    %br
    - if Setting.first.pickup_contact_name.present? and Setting.first.pickup_contact_email.present?
      %p
        If you have any questions regarding your pickup, please contact:
        = Setting.first.pickup_contact_name
        at
        = mail_to Setting.first.pickup_contact_email