.container-fluid
  %h1
    Pickups
    = surround("(", ")") do
      = @pickups.count

  .table-responsive
    %table.table.table-sm
      %thead
        %tr
          %th ID
          %th Name
          %th Email
          %th Street address
          %th Driver
          %th Donation
          %th Size
          %th Note
          %th Latitude
          %th Longitude
          %th

      %tbody
        - @pickups.each do |pickup|
          %tr
            %td= pickup.id
            %td= pickup.name
            %td= pickup.email
            %td= pickup.street_address
            %td
              - if pickup.driver
                = link_to pickup.driver.name, driver_path(pickup.driver)
              - else
                = link_to 'Assign', edit_pickup_path(pickup)

            %td
              - pickup.charges.each do |charge|
                = link_to number_to_currency(charge.charge_amount / 100.00), charge_path(charge)
                %br
            %td= pickup.size
            %td
              - if pickup.message.present?
                = link_to pickup.message.truncate(50), pickup_path(pickup)
            %td= pickup.latitude
            %td= pickup.longitude
            %td
              = link_to pickup do
                .fa.fa-eye
              = '|'
              = link_to edit_pickup_path(pickup) do
                .fa.fa-edit
              = '|'
              = link_to pickup, method: :delete, data: { confirm: 'Are you sure?' } do
                .fa.fa-trash


  %br

  = paginate @pickups


  = link_to 'New Pickup', new_pickup_path
