.container-fluid
  %h1 Pickups

  %table.table
    %thead
      %tr
        %th Name
        %th Email
        %th Street address
        %th Driver
        %th Size
        %th

    %tbody
      - @pickups.each do |pickup|
        %tr
          %td= pickup.name
          %td= pickup.email
          %td= pickup.street_address
          %td= pickup.driver.name if pickup.driver
          %td= pickup.size
          %td
            = link_to 'Show', pickup
            = '|'
            = link_to 'Edit', edit_pickup_path(pickup)
            = '|'
            = link_to 'Destroy', pickup, method: :delete, data: { confirm: 'Are you sure?' }




  %br

  = paginate @pickups


  = link_to 'New Pickup', new_pickup_path
