.container

  %h1 Pickup
  %table.table
    %tr
      %th Name:
      %td.text-right= @pickup.name
    %tr
      %th Email:
      %td.text-right= @pickup.email
    %tr
      %th Street address:
      %td.text-right= @pickup.street_address
    %tr
      %th Size:
      %td.text-right= @pickup.size
    %tr
      %th Message:
      %td.text-right= @pickup.message
    - if signed_in?
      %tr
        %th Created:
        %td.text-right= nice_date_time(@pickup.created_at)

  - if signed_in?
    %h4 Pickup Driver
    %table.table
      %tr
        %th Driver:
        %td.text-right
          - if @pickup.driver
            = @pickup.driver.name
          - else
            None assigned

  = link_to 'Edit', edit_pickup_path(@pickup), class: 'btn btn-secondary'
  = link_to 'Cancel', pickup_path(@pickup), method: :delete, data: { confirm: "Are you sure? Clicking 'OK' will cancel this pickup." }, class: 'btn btn-danger'
