- if settings.pickup_signups_enabled? && settings.pickups_end_at > Time.now
  = form_for @pickup do |f|
    - if @pickup.errors.any?
      #error_explanation
        %h2= "#{pluralize(@pickup.errors.count, "error")} prohibited this pickup from being saved:"
        %ul
          - @pickup.errors.full_messages.each do |message|
            %li= message
    .form-group
      .field
        %label
          = f.label :name
        = f.text_field :name, class: 'form-control'
    .form-group
      .field
        = f.label :email
        = f.text_field :email, class: 'form-control'
    .form-group
      .field
        = f.label(:street_address, 'Bainbridge Island street address')
        = f.text_field :street_address, class: 'form-control'
    .form-group
      .field
        = f.label :Approximately_how_heavy_is_your_eWaste?
        = f.select :size, options_for_select(Pickup::SIZES), {}, class: 'form-control'
    .form-group
      .field
        = f.label :Anything_else_you_want_to_tell_us?
        = f.text_field :message, class: 'form-control'
    %br
    .actions.text-center
      = f.submit 'Schedule Pickup', class: 'btn btn-primary btn-lg btn-block'

- else
  = render 'pickups_status'