= form_for @pickup do |f|
  - if @pickup.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pickup.errors.count, "error")} prohibited this pickup from being saved:"
      %ul
        - @pickup.errors.full_messages.each do |message|
          %li= message
  .form-group
    .field
      %label
        = f.label :name
      = f.text_field :name, class: 'form-control'
  .form-group
    .field
      = f.label :email
      = f.text_field :email, class: 'form-control'
  .form-group
    .field
      = f.label :street_address
      = f.text_field :street_address, class: 'form-control'
  .actions.text-center
    = f.submit 'Schedule Pickup', class: 'btn btn-lg btn-block'