#info
  .container
    %h1 Electronics Recycling Day
    .row
      .col-sm
        = image_tag "ecycle2.jpg", class: 'img-fluid rounded'
      .col-sm
        %p
          Bainbridge Island
          = link_to "Boy Scout Troop 1496", 'http://bitroop1496.org', target: '_blank' 
          will be holding its 13th annual Electronics Recycling Day (E-Waste) Fundraiser on Saturday, June 1, 2019.

        = image_tag 'bsa-trademark.jpg', class: 'img-fluid rounded float-right'
        
        %p Funds generated from this event are used to defray the cost of Troop 1496 service projects around the island and leadership training and outdoor wilderness experiences for 60+ boys aged 10-17.  Recent service and Eagle projects by Troop 1496 scouts include invasive weed removal, new flagpoles at Rotary Field, planter boxes for residents of Island Rehab, frisbee golf course at Hyla MS, remodel of BPA rehearsal space, firewood shed at Fay Bainbridge, meditation shelter at First Baptist Church, and a West Sound Wildlife Shelter animal enclosure. 
    %br

    .row
      .col-md-6
        %h3 Drop Off
        %p 
          On June 1, drop off your unused electronics at the
          = link_to "First Baptist Church","http://bainbridgefirstbaptist.org", target: '_blank'
          located at the juncture of Hwy. 305 & Madison, between 8am and 3pm. Scouts will be available to help you unload your car or truck.
        %p.text-center
          = image_tag 'bainbridge-first-baptist.png'
      .col-md-6
        %h3 Pick Up
        %p 
          On June 1 between 9am and 2pm, Troop 1496 Boy Scouts will come by your home or business and pick up any electronic goods that you would like recycled. Simply
          = link_to "schedule a pick-up online", root_path
          and then leave your goods to be recycled on your curb.

        %p.text-center
          = image_tag 'truck.jpg'

    .row
      .col-md-2
      .col-md-8
        %h4
          PC Recycle and Repair
        %p
          Our partner in this fundraiser is
          = link_to "PC Recycle and Repair,", "http://www.pcrecycle.net", target: '_blank'
          Puget Sound's premier electronics/IT asset recycler and IT service provider.
        .text-center= image_tag "PCRecycle21.jpg", width: 300

    .row
      .col-md-12
        %h4 Items accepted include:
        %p
          iPhones, iPads, Android phones, computer tablets, computer and gaming systems, copiers, TVs/stereos, and small household appliances. You may choose to have your computer memory destroyed and responsibly recycled, or professionally ‘scrubbed’ by a member of the Washington State Recyclers Association so that it can be refurbished for resale to others who could not otherwise afford them.

        %h4 Erase personal data on iPhones, iPads
        %p
          We would love your old Apple devices, but we recommend erasing any of your personal data first. See
          = link_to "Apple.com", "https://support.apple.com/en-us/HT201351", target: '_blank'
          for Apple's official instructions.  These involve 1) signing out of iCloud (Settings > Sign Out), and 2) erasing your device (Settings > Reset > Erase All).


        %h4 Items we can't accept:
        %p Batteries, items containing gas.


    = render 'suggested_donation_amounts'


    %h3 E-Cycling Important Notes
    %p Our E-waste event provides all donated electronics to PC Recycle (Bellevue, WA). PC Recycle refurbishes computers for resale to the extent possible. All computer-TV-monitor wastes are sent through the Washington Dept. of Ecology E-Cycle program where the waste is processed in Washington. For other wastes, PC Recycle sends metal wastes to a Washington company for refining, and other material goes to a company that participates in the “R2 Certification” and “EStewards Certification” programs, where most waste is processed in the U.S. The R2 Certification restricts waste processing to participating countries/facilities with environmentally and socially responsible practices for waste handling. PC Recycle is conscious of the concerns about downstream waste handling practices, as are their large business customers where many have downstream waste tracking requirements.

    %p Computer memory drives are professionally destroyed or, with your authorization, “scrubbed” for refurbishing and resale. Smart phone memory is wiped and the device refurbished; older/broken phones are sent to a certified refiner. We recommend that owners remove and destroy all flash drives (USB, SD cards, etc.) prior to recycling.

    %p Please do not bring loose batteries or items containing gas.

    - if Setting.first_or_create.general_contact_name.present? && Setting.first_or_create.general_contact_email.present?
      %h3 Questions?
      %p
        Please contact
        = Setting.first.general_contact_name
        = succeed(".") do
          = surround("(", ")") do
            = mail_to(Setting.first.general_contact_email)

    %br