#home.container
  .row
    .col-sm
      .about
        %h1 Ecycle Today!
        %p 
          Support Bainbridge Scouting and Troop 1496 by recycling your old electronics! We want your unused iPhones, iPads, printers and small appliances which will be recycled. Simply drop-off or schedule a pickup! Donations appreciated.
        = link_to about_path do
          Learn More
          = icon('fas', 'arrow-right')


      .date-block
        %h3.mb-0
          Saturday
          %br
          June 1, 2019
      
        Dropoffs: 8am-3pm First Baptist Church
        %br
        Pickups: 9am-2pm

    .col-sm.title
      %h2.text-center.mb-0
        Schedule a Pickup
      %h5.text-center.mt-0 Between 9am-2pm

      = render 'form'

    .col-sm
      .text-center
        = image_tag "ecycle3.jpg", class: 'img-fluid rounded'

  .row
    .col-md-12
      .text-center= render 'facebook_button'


= render 'json-tld-event'