%br
#home.container
  .row
    .col-sm
      .about
        %h1 Ecycle Today!
        %p= settings.brief_marketing_message
          
        = link_to about_path do
          Learn More
          = icon('fas', 'arrow-right')
        %br
        %br
        %h4.mb-0
          = settings.event_date.strftime("%A") if settings.event_date
          %br
          = settings.event_date.strftime("%B %d, %Y") if settings.event_date
        - if @dropoffs_start_at.present? && @dropoffs_end_at.present?
          Dropoffs:
          %br
          = @dropoffs_start_at.strftime('%l:%M%P')
          \-
          = @dropoffs_end_at.strftime('%l:%M%P')
          %br
          = settings.dropoff_location
          %br
        - if @pickups_start_at.present? && @pickups_end_at.present?
          %br
          Pickups:
          %br
          = @pickups_start_at.strftime('%l:%M%P')
          \-
          = @pickups_end_at.strftime('%l:%M%P')


    - if settings.is_pickups_offered?
      .col-sm.title
        #schedule-a-pickup
          %h2.text-center.mb-0
            Schedule a Pickup
          %h5.text-center.mt-0
            - if @pickups_start_at.present? && @pickups_end_at.present?
              = @pickups_start_at.strftime('%B %e')
              %br
              = @pickups_start_at.strftime('%l:%M%P')
              \-
              = @pickups_end_at.strftime('%l:%M%P')

          = render 'form'

    .col-sm
      .text-center
        = image_tag "main-image.jpg", class: 'img-fluid rounded'
        %br
        %br
        %p
          = link_to about_path do
            More info
        .text-center= render 'facebook_button'


= render 'json-tld-event'