= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message

  .form-group
    .field
      = f.label :pickup_instructions
      = f.text_area :pickup_instructions, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_signups_enabled
      = f.check_box :pickup_signups_enabled, class: 'form-control'
  .form-group
    .field
      = f.label :donations_enabled
      = f.check_box :donations_enabled, class: 'form-control'
  .form-group
    .field
      = f.label :general_contact_name
      = f.text_field :general_contact_name, class: 'form-control'
  .form-group
    .field
      = f.label :general_contact_email
      = f.text_field :general_contact_email, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_contact_name
      = f.text_field :pickup_contact_name, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_contact_email
      = f.text_field :pickup_contact_email, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'

  %br
