= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :event_date
    = f.date_select :event_date, {}, class: 'form-control'
  .form-group
    .field
      = f.label :dropoff_location
      = f.text_field :dropoff_location, class: 'form-control'
  .form-group
    .field
      = f.label :brief_marketing_message
      = f.text_field :brief_marketing_message, class: 'form-control'
  .form-group
    = f.label :dropoffs_start_at
    = f.datetime_select :dropoffs_start_at, {}, class: 'form-control'
  .form-group
    = f.label :dropoffs_end_at
    = f.datetime_select :dropoffs_end_at, {}, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_instructions
      %p.text-muted (* Used in pickup emails)
      = f.text_area :pickup_instructions, class: 'form-control'
  .form-check.form-check-inline
    .form-group
      = f.check_box :is_pickups_offered, class: 'form-check-input'
      = f.label :is_pickups_offered, class: 'form-check-label'
  .form-check.form-check-inline
    .form-group
      = f.check_box :is_pickup_signups_enabled, class: 'form-check-input'
      = f.label :is_pickup_signups_enabled, class: 'form-check-label'
  .form-group
    = f.label :pickups_start_at
    = f.datetime_select :pickups_start_at, {}, class: 'form-control'
  .form-group
    = f.label :pickups_end_at
    = f.datetime_select :pickups_end_at, {}, class: 'form-control'
  .form-check.form-check-inline
    .form-group
      = f.check_box :is_donations_offered, class: 'form-check-input'
      = f.label :is_donations_offered, class: 'form-check-label'
  .form-check.form-check-inline
    .form-group
      = f.check_box :donations_enabled, class: 'form-check-input'
      = f.label :donations_enabled, class: 'form-check-label'
  .form-group
    .field
      = f.label :general_contact_name
      = f.text_field :general_contact_name, class: 'form-control'
  .form-group
    .field
      = f.label :general_contact_email
      = f.text_field :general_contact_email, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_contact_name
      = f.text_field :pickup_contact_name, class: 'form-control'
  .form-group
    .field
      = f.label :pickup_contact_email
      = f.text_field :pickup_contact_email, class: 'form-control'
  .form-check.form-check-inline
    .form-group
      = f.check_box :allow_user_signups, class: 'form-check-input'
      = f.label :allow_user_signups, class: 'form-check-label'
  .form-check.form-check-inline
    .field
      = f.check_box :send_admin_pickup_notifications, class: 'form-check-input'
      = f.label :send_admin_pickup_notifications, class: 'form-check-label'



  .actions
    = f.submit 'Save', class: 'btn btn-primary'

  %br
