!!!
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h2 Troop 1496 Driver Pickups

    %p
      = @driver.name + ','

    - if @driver.scout_names.present?
      %p
        Below are your assigned E-Waste fundraiser pickups for June 2. The Scouts that are accompanying you are:
        = @driver.scout_names

    %p Pickups should be done between 8am and 2pm, and dropped off at the First Baptist Church by 2:30pm.

    %p Lunch and breakfast are served! Stop by the church starting at 8am for breakfast, and after 12pm for lunch, for a Troop chow down!

    - if Setting.first.pickup_contact_name.present? && Setting.first.pickup_contact_email.present?
      %p
        Any questions? Contact
        = Setting.first.pickup_contact_name
        = Setting.first.pickup_contact_email

    %table.table(width='100%')
      %thead
        %tr
          %th(align='left' padding='0.1em') Name
          %th(align='left') Address
          %th(align='left') Email
          %th(align='left') Size
          %th(align='left') Message    
      - @pickups.each do |pickup|
        %tbody
          %tr
            %td= pickup.name
            %td= pickup.street_address
            %td= pickup.email
            %td= pickup.size
            %td.message= pickup.message