= form_for [@pickup, @donation] do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :amount
    = f.text_field :amount
  .actions
    = f.submit 'Save', class: 'btn btn-lg'
