.container-fluid
  %h1 Listing donations

  .table-responsive
    %table.table.table-sm
      %thead
        %tr
          %th Pickup
          %th Amount
          %th

      %tbody
        - @donations.each do |donation|
          %tr
            %td= donation.pickup_id
            %td= donation.amount
            %td
              = link_to 'Show', donation_path(donation)
              \|
              = link_to 'Edit', edit_donation_path(donation)
              \|
              = link_to 'Destroy', donation_path(donation), method: :delete, data: { confirm: 'Are you sure?' }

  %br
