#home.container
  %br
  .row
    .col-md-4
    .col-md-4.title
      %h1.text-center
        Make a Donation to Troop 1496

      %p.text-center Making a donation to Troop 1496 helps to fund its numerous community service and Eagle Scout projects, as well as fund our program of molding upstanding young men. 

      - if Setting.first_or_create.donations_enabled
        %h4.text-center How much would you like to donate by check, cash or credit card?
        
        .row
          .col-md-2
          .col-md-8
            %p.text-center
              = link_to "$100", donations_path(amount: 100), method: :post
              \|
              = link_to "$50", donations_path(amount: 50), method: :post
              \|
              = link_to "$25", donations_path(amount: 25), method: :post
              \|
              = link_to "$10", donations_path(amount: 10), method: :post

        .row
          .col-md-2
          .col-md-8
            = form_tag donations_path do
              .form-group
                / .text-center
                /   = label_tag 'amount $', nil
                = text_field_tag :amount, nil,class: 'form-control', placeholder: 'Enter custom amount ...'

              .actions.text-center
                = submit_tag 'Start a donation', class: 'btn btn-primary'

      - else
        .alert.alert-danger.text-center
          We are currently not accepting donations.
          %br
          Please check back.


  = render 'suggested_donation_amounts'