.container
  %h1 Driver
  .row
    .col-md-6
      %table.table.table-sm
        %tr
          %th Name:
          %td.text-right= @driver.name
        %tr
          %th Starting street address:
          %td.text-right= @driver.street_address

        %tr
          %th Email:
          %td.text-right= @driver.email
        %tr
          %th Scouts:
          %td.text-right= @driver.scout_names

  .d-print-none
    = link_to 'Edit', edit_driver_path(@driver)

  .row
    .col-md-12
      %h4 Pickups
      .table-responsive
        %table.table.table-sm
          %thead
            %tr
              %th Name
              %th Address
              %th Miles
              %th Email
              %th.message Message

          %tbody
            - @driver.pickups.each do |pickup|
              %tr
                %td= pickup.name
                %td
                  = link_to pickup.street_address, "maps:maps.google.com/q=" + pickup.address, target: '_blank'
                %td= pickup.distance_from(@driver.address).round(2)
                %td= pickup.email
                %td.message= pickup.message


