%nav
  .navbar.navbar-expand-lg.fixed-top.navbar-dark
    = link_to "Bainbridge eCycle", root_path, class: 'navbar-brand'
    %button.navbar-toggler.custom-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': "#navbarSupportedContent" }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
        - if signed_in?
          %li.nav-item= link_to 'Pickups', pickups_path, class: 'nav-link'
          %li.nav-item= link_to 'Drivers', drivers_path, class: 'nav-link'
          %li.nav-item= link_to 'Donations', charges_path, class: 'nav-link'
        - else
          %li.nav-item= link_to "About", about_path, class: 'nav-link'
          %li.nav-item= link_to "Schedule a Pickup", root_path, class: 'nav-link'
          %li.nav-item= link_to "Make a Donation", new_donation_path, class: 'nav-link'
      %ul.navbar-nav
        - if valid_pickup_exists?
          %li.nav-item= link_to 'Your Pickup', pickup_path(Pickup.find(cookies[:pickup_id])), class: 'nav-link'

        - if signed_in? 
          %li.nav-item
            = link_to settings_path, class: 'nav-link' do
              .fa.fa-wrench
          %li.nav-item= link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link'
        / - else
        /   %li.nav-item= link_to 'Sign in', sign_in_path, class: 'nav-link'
