!!!
%html(lang='en')
  = render 'head'

  %body
    = render 'facebook'
    = render 'nav'

    %br
    %br
    %br
    %br.d-none.d-sm-block
    %br.d-none.d-sm-block

    = render 'flash' if notice.present?
    = yield

    = render 'footer'
